<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
	</configSections>
  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
	<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" autoReload="true" internalLogToConsole="true" internalLogLevel="Debug" throwExceptions="true">
		<variable name="service" value="MemoryLeakTest" />
		<variable name="logdir" value="/home/ubuntu/logs/" />
		<targets async="true">
			<target name="asyncFileDebug" xsi:type="AsyncWrapper">
				<target xsi:type="File" name="fileLogDebug" fileName="${logdir}${service}/debug/${machinename}.log" layout="${message}$$" archiveEvery="Hour" archiveNumbering="Date" archiveDateFormat="yyyy-MM-dd-hh" archiveFileName="${logdir}${service}/debug/${machinename}.{#}.log" keepFileOpen="True" concurrentWrites="False" />
			</target>
		</targets>
		<rules>
			<logger name="MemoryLeakTestLog" level="Debug" writeTo="fileLogDebug" />
		</rules>
	</nlog>
</configuration>